<template>
  <img src="~/static/img/logo-cacco.png" :width="width" alt="CACCo" />
</template>

<script>
export default {
  props: {
    width: {
      type: Number,
      default: 100,
    },
  },
}
</script>
