<template>
  <v-app>
    <v-container class="text-center">
      <v-row>
        <v-col>
          <h1 v-if="error.statusCode === 404" class="mt-10 mb-10 text-h3">
            {{ pageNotFound }}
          </h1>
          <h1 v-else>
            {{ otherError }}
          </h1>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-btn to="/">
            <v-icon left>mdi-home</v-icon>
            Página inicial
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<script>
export default {
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      pageNotFound: 'Página não encontrada',
      otherError: 'Um erro aconteceu :(',
    }
  },
  head() {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    return {
      title,
    }
  },
}
</script>

<style scoped>
h1 {
  font-size: 20px;
}
</style>
