<template>
  <v-container>
    <v-row>
      <v-col>
        <h1 class="text-lg-h1 text-center mb-5">
          Estudantes da Computação precisam da sua ajuda!
        </h1>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12" md="4" order-md="2">
        <CaccoInfo />
      </v-col>
      <v-col>
        <MoreInfo />
        <HowToDonate />

        <Objective
          :donation-value="totalDonationValue"
          :goal-value="goalValue"
        />

        <DonationList :donation-list="donationsSorted" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import CaccoInfo from '~/components/homepage/CaccoInfo.vue'
import Objective from '~/components/homepage/Objective.vue'
import DonationList from '~/components/homepage/DonationList.vue'
import MoreInfo from '~/components/homepage/MoreInfo.vue'
import HowToDonate from '~/components/homepage/HowToDonate.vue'

export default {
  components: {
    Objective,
    DonationList,
    CaccoInfo,
    MoreInfo,
    HowToDonate,
  },
  data: () => ({
    donations: [
      { name: 'Gustavo Ficher Catarino', value: 1000 },
      { name: 'Lucas Bagatini do Nascimento', value: 110 },
      { name: 'Leonardo Jardim Pinhati', value: 130 },
      { value: 200 },
    ],
    goalValue: 2500,
  }),
  computed: {
    donationsSorted() {
      return [...this.donations].sort((a, b) => b.value - a.value)
    },
    totalDonationValue() {
      return this.donations.reduce((acc, cur) => ({
        value: acc.value + cur.value,
      })).value
    },
  },
  head: () => ({
    title: 'Página Inicial',
  }),
}
</script>
