<template>
  <div>
    <div class="text-center">
      <logo
        :width="caccoLogoHeight"
        style="margin-top: 1rem; margin-bottom: 2rem;"
      />
    </div>
    <div class="text-center mb-3">
      Centro Acadêmico das Ciências da Computação<br />
      Unesp - Rio Claro
    </div>
    <v-flex class="justify-center">
      <v-btn
        href="https://fb.com/groups/BixosBCCRC"
        target="_blank"
        block
        class="mb-2"
        color="blue"
      >
        <v-icon left>mdi-account-group</v-icon> Grupo do BCC
      </v-btn>
      <v-btn
        href="https://fb.com/caccorc"
        target="_blank"
        block
        class="mb-2"
        color="pink"
      >
        <v-icon left>mdi-facebook</v-icon> Página do CACCo
      </v-btn>
      <v-btn
        href="https://cacco.com.br"
        target="_blank"
        block
        class="mb-2"
        color="deep-purple darken-2"
      >
        <v-icon left>mdi-web</v-icon> Site do CACCo
      </v-btn>
    </v-flex>
  </div>
</template>

<script>
export default {
  computed: {
    caccoLogoHeight() {
      if (this.$vuetify.breakpoint.name === 'sm') return 190
      return 220
    },
  },
}
</script>
