<template>
  <v-card class="mb-5">
    <v-card-title class="headline">
      <h2 class="text-h3 font-weight-light">Doações</h2>
    </v-card-title>
    <v-card-text>
      <p>
        Gostaríamos de agradecer
        <strong class="pink--text">de coração</strong> à todos que tomaram um
        tempo para ler esta página e doar qualquer quantia.<br />
        Sua ajuda é extremamente importante para nós!
      </p>
    </v-card-text>
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">Nome</th>
            <th class="text-right">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in donationList" :key="item.name">
            <td v-if="item.name">{{ item.name }}</td>
            <td v-else><i>Doação Anônima</i></td>
            <td class="text-right">R$ {{ formatMoney(item.value) }}</td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </v-card>
</template>

<script>
export default {
  props: {
    donationList: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    formatMoney(value) {
      const val = (value / 1).toFixed(2).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
  },
}
</script>
