<template>
  <v-card class="mb-5">
    <v-card-title class="headline">
      <h2 class="text-h3 font-weight-light">Como doar</h2>
    </v-card-title>
    <v-card-text>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in ipsum
        in augue vulputate viverra at eu ante. Vestibulum varius malesuada nisi
        ut vehicula. Sed dictum, felis vel rutrum scelerisque, turpis neque
        tincidunt est, a fringilla lacus arcu vel ante. Fusce sollicitudin nec
        augue ut dapibus. Nulla nulla libero, aliquet nec urna et, consequat
        ultricies lorem. Duis porttitor sem nec suscipit ultrices. Etiam quis
        arcu et dui semper molestie at et erat. Phasellus vehicula urna ut magna
        dapibus ullamcorper. Etiam gravida pharetra risus, nec venenatis elit
        sagittis eu. Nulla nec aliquet dolor. Aliquam faucibus quam vel orci
        tempus semper. Pellentesque ornare erat sit amet semper rutrum.
        Curabitur id cursus dui. Proin dignissim enim sed urna iaculis, quis
        tincidunt enim venenatis. Fusce tristique quam egestas sapien
        scelerisque, imperdiet pretium urna maximus. Nunc vitae molestie eros.
      </p>
    </v-card-text>
  </v-card>
</template>

<script>
export default {}
</script>
