<template>
  <div class="mt-10 mb-15">
    <h2 class="text-h3 font-weight-light mb-4">Objetivo</h2>
    <p>
      Nosso objetivo é conseguir
      <v-chip outlined>R$ {{ formatMoney(goalValue) }}</v-chip>
      e já conseguimos
      <v-chip outlined>R$ {{ formatMoney(donationValue) }}</v-chip>
      !
    </p>
    <v-progress-linear
      :value="(donationValue / goalValue) * 100"
      height="20"
      color="pink"
      rounded
    >
      <template v-slot="{ value }">
        <strong>{{ Math.floor(value) }}%</strong>
      </template>
    </v-progress-linear>
  </div>
</template>

<script>
export default {
  props: {
    goalValue: {
      type: Number,
      default: 0,
    },
    donationValue: {
      type: Number,
      default: 0,
    },
  },
  methods: {
    formatMoney(value) {
      const val = (value / 1).toFixed(2).replace('.', ',')
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, '.')
    },
  },
}
</script>
